<#ftl encoding="utf-8">

<body xmlns="http://www.w3.org/1999/html">


<form method="post" action="/login">
    <label for="userName">Nom d'utilisateur</label>
    <input name="userName" required>
    <label for="password">Mot de passe</label>
    <input name="password" type="password" required>
    
    <button type="submit" placeholder="Supprimer...">Envoyer</button>
</form>


<form method="get" action="/createaccount">
    <button type="submit">Créer un nouveau compte</button>
</form>

</body>

</html>
