<#ftl encoding="utf-8">


<body xmlns="http://www.w3.org/1999/html">


<h1>Bienvenue ${prof.userName}</h1>


<a href="/welcome">Accueil</a>
<a href="/profs" >Liste des profs</a>
<a href="/eleves" >Liste des eleves</a>
<a href="/gommettes">Liste des gommettes</a>


<form method="post" action="/logout">
    <input type="hidden" name="id" value="${prof.id}">
    <button type="submit">Se déconnecter</button>
</form>



</body>

</html>
